body {
  margin: 0;
}

header {
  width: 100vw;
  display: inline-block;
}

.head-top-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  background: #ff5e33;
}

/* 로고 부분 */
.head-logo-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  height: 90px;
  margin-top: 20px;
  background-color: white;
  background-color: #f8cdc1;
}

.head-logo img {
  width: 130px;
  height: 90px;
  padding-right: 10px;
}

.head-logo a {
  text-decoration: none;
  display: flex;
}

.head-logo-container #title {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 90px;
  color: #ff5e33;
  font-family: "omyu_pretty";
}

/* 오른쪽 */
.head-right {
  text-align: right;
  padding-right: 50px;
  background-color: gray;
}

.head-right ul {
  margin: 0;
}

.head-right li {
  display: inline-block;
  font-family: "omyu_pretty";
  font-size: 20px;
  line-height: 40px;
  padding: 0 10px;
}

.head-right li a {
  text-decoration: none;
  color: black;
}

.head-right li a:hover {
  color: #ff5e33;
}

/* 메뉴 */
.head-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.head-menu ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.head-menu li {
  display: inline-block;
  padding-right: 3px;
}

.head-menu li a {
  text-decoration: none;
  color: #ff5e33;
  padding: 25px;
}

.head-menu span {
  font-family: "omyu_pretty";
  font-size: 1.5rem;
  line-height: 40px;
}

/* 메인페이지 */
main {
  margin-top: 100px;
}
main section {
  /* height: calc(100vh - 100px); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slide {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 5px;
  margin-bottom: 15px;
}

#slide img {
  padding-left: 10px;
  max-width: 800px;
  height: 450px;
  border-radius: 10%;
}

#category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #f8cdc1;
  gap: 120px;
}

.category-content {
  position: relative;
}

.category-link {
  text-decoration: none;
  color: white;
  font-family: "omyu_pretty";
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.category-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: block;
}

.category-text {
  display: block;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px, 4px, 4px, 4px black;
}

main #top {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#top a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

main #section1 {
  background-color: rgb(238, 200, 200);
}
